.body {
    font-family: Jost;
}

.header {
    background: rgb(208, 210, 235);
    height: fit-content;

    display: flex;
    flex-direction: row;

    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;

    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);

    .header-logo {
        width: 60%;

        display: flex;
        flex-direction: row;
        justify-content: right;

        .logo {
            display: block;
            height: auto;
            max-height: 50px;
        
            margin-bottom: 24px;
            margin-top: 24px;
        
            border-radius: 17%;
            box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.1);
        }

        .text {
            color: #616ccd; 

            font-weight: 500;
            font-size: 18px;
            text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);

            margin-left: 10px;
            margin-top: 39px;
        }
    }

    .header-button {
        width: 45%;
        font-size: 15px;

        display: flex;
        justify-content: right;
        align-items: center;

        margin-right: 3vw;

        .dropdown {
            position: relative;
            display: inline-block;
            width: fit-content;

            .dropdown-button {
                width: 100%;
                padding: 8px 20px 8px 20px;
        
                background-color: rgb(163, 170, 228);
                color: rgb(39, 3, 94);
                font-weight: 500;

                border-radius: 10%;
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: rgb(39, 3, 94);
                    color: white;
                }
            }

            .dropdown-content {
                width: 100%;
                display: none;
                position: absolute;
                z-index: 1;

                background-color: rgba(100, 110, 203, 1);
                border-radius: 10%;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

                a {
                    display: block;
                    float: none;
                    padding: 12px 16px;
                    color: white;
                    text-decoration: none;
                    text-align: left;
                    cursor: pointer;
                }

                #a-profile:hover {
                    border-radius: 10%;
                    background-color: rgb(39, 3, 94);
                    color:white;
                }
                #a-logout:hover {
                    border-radius: 10%;
                    background-color: red;
                }
            }

            &:hover .dropdown-content{
                display: block;
            }
        }
    }
}

.form {
    background-color: rgb(208, 210, 235);

    width: 570px;
    height: fit-content;

    margin-top: 125px;
    margin-bottom: 125px;
    border-radius: 12px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;

        .text-heading {
            color: #616ccd; 
            font-weight: 500;
            font-family: Jost;
            font-size: 28px;
        
            margin-top: 15px;
            margin-bottom: -25px;
        }

        .icon-heading {
            font-size: 35px;
            color: #616ccd;
            margin-top: 27px;
        }
    }

    .body {
        padding: 32px;

        .input-field {
            background-color: rgb(208, 210, 235);
            color: rgba(100,110,203,255);
            font-size: 16px;
            
            display: flex;
            align-items: center;
            padding: 5px;
        
            border: 1px solid rgba(100,110,203,255);
            border-radius: 5px;
        
            cursor: pointer;
        }

        .input-field.error {
            color: red; 
            border: 1px solid red;
        }

        input[type='text'] {
            background-color: rgb(208, 210, 235);
            width: 100%;
            border: none;
            outline: none;
            box-shadow: none;
        }

        .input-field input[type='text']:-internal-autofill-selected {
            box-shadow: 0 0 0 30px rgb(208, 210, 235) inset;
        }

        .button {
            color: #ffffff;
            background: linear-gradient(to bottom, #646ECB, #454b88); 
            font-size: 16px; 

            width: 100%;
            height: 35px;

            margin-top: 30px;
            margin-bottom: 10px;
            border: none;
            border-radius: 15px;

            &:hover {
                background: linear-gradient(to bottom, #454b88, rgb(59, 5, 141));    
            }
        }
    }
}